@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Italic.ttf");
  font-style: italic;
}

body {
  font-family: "Poppins";
  color: #393939;
}

body button:focus {
  outline: none;
}

body input:focus {
  outline: none;
}

.nav-desktop {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 80px;
  position: fixed;
  -webkit-box-shadow: 0px 32px 80px rgba(57, 57, 57, 0.05);
          box-shadow: 0px 32px 80px rgba(57, 57, 57, 0.05);
  z-index: 999;
}

.nav-desktop .content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-desktop .content .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
}

.nav-desktop .content .logo img {
  width: 150px;
}

.nav-desktop .content .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 60%;
  color: #393939;
}

.nav-desktop .content .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
}

.nav-desktop .content .menu ul a {
  height: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: inherit;
  position: relative;
}

.nav-desktop .content .menu ul a hr {
  position: absolute;
  width: 100%;
  bottom: 0px;
  display: none;
  color: #FDBF1F;
  border: 1px solid #FDBF1F;
}

.nav-desktop .content .menu ul a:hover hr {
  display: block;
}

.nav-desktop .content .menu ul a.active hr {
  display: block;
}

.nav-desktop .content .icon {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-desktop .content .icon .icon-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 110px;
}

.nav-desktop .content .icon .icon-profile i {
  color: #FDBF1F;
}

.login-page .main {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.login-page .main .content {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-page .main .content .card {
  width: 400px;
  height: 530px;
  border-radius: 30px;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px;
  -webkit-box-shadow: 0px 0px 60px rgba(57, 57, 57, 0.1);
          box-shadow: 0px 0px 60px rgba(57, 57, 57, 0.1);
}

.login-page .main .content .card .card-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.login-page .main .content .card .card-heading img {
  width: 200px;
}

.login-page .main .content .card .card-heading h1 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 10px;
  display: none;
}

.login-page .main .content .card .card-heading hr {
  width: 50px;
  height: 5px;
  background-color: #FDBF1F;
  border: none;
  margin-bottom: 10px;
}

.login-page .main .content .card .card-heading p {
  line-height: 21px;
  font-size: 14px;
  text-align: center;
}

.login-page .main .content .card .card-heading p a {
  text-decoration: none;
  color: #FDBF1F;
}

.login-page .main .content .card .card-body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-page .main .content .card .card-body form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.login-page .main .content .card .card-body form .form-group label {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}

.login-page .main .content .card .card-body form .form-group input {
  border-radius: 10px;
  height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  border: 1px solid #C4C4C4;
}

.login-page .main .content .card .card-body form a {
  text-decoration: none;
  font-weight: 400;
  color: #393939;
  margin-bottom: 30px;
  text-align: right;
  font-size: 14px;
}

.login-page .main .content .card .card-body form a:hover {
  color: #FDBF1F;
}

.login-page .main .content .card .card-body form .btn-login {
  border-radius: 40px;
  border: 1px solid transparent;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  background-color: #FDBF1F;
  font-weight: 600;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.login-page .main .content .card .card-body form .btn-login:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  background-color: white;
  border: 1px solid #FDBF1F;
  color: #FDBF1F;
}

.daftar-page .main {
  width: 100%;
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.daftar-page .main .content {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.daftar-page .main .content .card {
  width: 400px;
  height: 700px;
  border-radius: 30px;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px;
  -webkit-box-shadow: 0px 0px 60px rgba(57, 57, 57, 0.1);
          box-shadow: 0px 0px 60px rgba(57, 57, 57, 0.1);
}

.daftar-page .main .content .card .card-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.daftar-page .main .content .card .card-heading img {
  width: 200px;
}

.daftar-page .main .content .card .card-heading h1 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 10px;
  display: none;
}

.daftar-page .main .content .card .card-heading hr {
  width: 50px;
  height: 5px;
  background-color: #FDBF1F;
  border: none;
  margin-bottom: 10px;
}

.daftar-page .main .content .card .card-heading p {
  line-height: 21px;
  font-size: 14px;
  text-align: center;
}

.daftar-page .main .content .card .card-heading p a {
  text-decoration: none;
  color: #FDBF1F;
}

.daftar-page .main .content .card .card-body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.daftar-page .main .content .card .card-body form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.daftar-page .main .content .card .card-body form .form-group label {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}

.daftar-page .main .content .card .card-body form .form-group input {
  border-radius: 10px;
  height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  border: 1px solid #C4C4C4;
}

.daftar-page .main .content .card .card-body form a {
  text-decoration: none;
  font-weight: 400;
  color: #393939;
  margin-bottom: 30px;
  text-align: right;
  font-size: 14px;
}

.daftar-page .main .content .card .card-body form a:hover {
  color: #FDBF1F;
}

.daftar-page .main .content .card .card-body form .btn-daftar {
  border-radius: 40px;
  border: 1px solid transparent;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  background-color: #FDBF1F;
  font-weight: 600;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.daftar-page .main .content .card .card-body form .btn-daftar:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  background-color: white;
  border: 1px solid #FDBF1F;
  color: #FDBF1F;
}

.lupa-password-page .main {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.lupa-password-page .main .content {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lupa-password-page .main .content .card {
  width: 400px;
  height: 480px;
  border-radius: 30px;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px;
  -webkit-box-shadow: 0px 0px 60px rgba(57, 57, 57, 0.1);
          box-shadow: 0px 0px 60px rgba(57, 57, 57, 0.1);
}

.lupa-password-page .main .content .card .card-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.lupa-password-page .main .content .card .card-heading img {
  width: 200px;
}

.lupa-password-page .main .content .card .card-heading h1 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 10px;
  display: none;
}

.lupa-password-page .main .content .card .card-heading hr {
  width: 50px;
  height: 5px;
  background-color: #FDBF1F;
  border: none;
  margin-bottom: 10px;
}

.lupa-password-page .main .content .card .card-heading p {
  line-height: 21px;
  font-size: 14px;
  text-align: center;
}

.lupa-password-page .main .content .card .card-heading p a {
  text-decoration: none;
  color: #FDBF1F;
}

.lupa-password-page .main .content .card .card-body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lupa-password-page .main .content .card .card-body form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.lupa-password-page .main .content .card .card-body form .form-group label {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}

.lupa-password-page .main .content .card .card-body form .form-group input {
  border-radius: 10px;
  height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  border: 1px solid #C4C4C4;
}

.lupa-password-page .main .content .card .card-body form a {
  text-decoration: none;
  font-weight: 400;
  color: #393939;
  margin-bottom: 30px;
  text-align: center;
  font-size: 14px;
}

.lupa-password-page .main .content .card .card-body form a:hover {
  color: #FDBF1F;
}

.lupa-password-page .main .content .card .card-body form .btn-lupa-password {
  border-radius: 40px;
  border: 1px solid transparent;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  background-color: #FDBF1F;
  font-weight: 600;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.lupa-password-page .main .content .card .card-body form .btn-lupa-password:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  background-color: white;
  border: 1px solid #FDBF1F;
  color: #FDBF1F;
}

.beli-tryout-detail .info-detail-tryout {
  padding-top: 80px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.beli-tryout-detail .info-detail-tryout .content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.beli-tryout-detail .info-detail-tryout .content .content-left {
  width: 50%;
}

.beli-tryout-detail .info-detail-tryout .content .content-left .nama-tryout {
  margin-top: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.beli-tryout-detail .info-detail-tryout .content .content-left .nama-tryout h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  margin-right: 20px;
}

.beli-tryout-detail .info-detail-tryout .content .content-left .nama-tryout hr {
  position: absolute;
  width: 50px;
  bottom: -10px;
  left: 5px;
  color: #FDBF1F;
  border: 1px solid #FDBF1F;
}

.beli-tryout-detail .info-detail-tryout .content .content-left .nama-tryout .btn-daftar {
  padding: 10px 20px 10px 20px;
  background-color: white;
  border: 1px solid #FDBF1F;
  border-radius: 5px;
  font-weight: 600;
  color: #FDBF1F;
  cursor: pointer;
}

.beli-tryout-detail .info-detail-tryout .content .content-left .nama-tryout .btn-daftar:hover {
  background-color: #FDBF1F;
  color: white;
  border: 1px solid #FDBF1F;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.beli-tryout-detail .info-detail-tryout .content .content-left .widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.beli-tryout-detail .info-detail-tryout .content .content-left .widget .widget-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  width: 120px;
  text-align: center;
  line-height: 21px;
}

.beli-tryout-detail .info-detail-tryout .content .content-left .widget .widget-child i {
  margin-bottom: 15px;
}

.beli-tryout-detail .info-detail-tryout .content .content-left .deskripsi-tryout {
  position: relative;
}

.beli-tryout-detail .info-detail-tryout .content .content-left .deskripsi-tryout h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.beli-tryout-detail .info-detail-tryout .content .content-left .deskripsi-tryout hr {
  position: absolute;
  width: 50px;
  top: 18px;
  left: 0px;
  color: #FDBF1F;
  border: 1px solid #FDBF1F;
}

.beli-tryout-detail .info-detail-tryout .content .content-left .deskripsi-tryout p {
  line-height: 28px;
}

.beli-tryout-detail .info-detail-tryout .content .content-right {
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.beli-tryout-detail .info-detail-tryout .content .content-right .tanggal-pengerjaan {
  margin-top: 50px;
  margin-bottom: 30px;
  position: relative;
}

.beli-tryout-detail .info-detail-tryout .content .content-right .tanggal-pengerjaan h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
}

.beli-tryout-detail .info-detail-tryout .content .content-right .tanggal-pengerjaan hr {
  position: absolute;
  width: 50px;
  top: 18px;
  left: 0px;
  color: #FDBF1F;
  border: 1px solid #FDBF1F;
}

.beli-tryout-detail .info-detail-tryout .content .content-right .tanggal-pengerjaan p {
  line-height: 28px;
  margin-bottom: 20px;
}

.beli-tryout-detail .info-detail-tryout .content .content-right .tanggal-pengerjaan .waktu-pengerjaan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.beli-tryout-detail .info-detail-tryout .content .content-right .tanggal-pengerjaan .waktu-pengerjaan .box {
  width: 60px;
  height: 60px;
  background-color: white;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  border: 2px solid #FDBF1F;
}

.beli-tryout-detail .info-detail-tryout .content .content-right .tanggal-pengerjaan .waktu-pengerjaan .box h4 {
  font-weight: 600;
  margin-bottom: 5px;
}

.beli-tryout-detail .info-detail-tryout .content .content-right .tanggal-pengerjaan .waktu-pengerjaan .box h6 {
  font-size: 14px;
}

.beli-tryout-detail .info-detail-tryout .content .content-right .beli-tryout .btn-beli-tryout {
  padding: 12px 25px 12px 25px;
  background-color: #FDBF1F;
  border: 1px solid #FDBF1F;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  color: #393939;
  cursor: pointer;
}

.beli-tryout-detail .info-detail-tryout .content .content-right .beli-tryout .btn-beli-tryout:hover {
  padding: 12px 25px 12px 25px;
  background-color: white;
  border: 1px solid #FDBF1F;
  border-radius: 5px;
  font-weight: 600;
  color: #FDBF1F;
  cursor: pointer;
  -webkit-box-shadow: 0px 60px 100px rgba(253, 191, 31, 0.16);
          box-shadow: 0px 60px 100px rgba(253, 191, 31, 0.16);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.beli-tryout-detail .info-mapel-tryout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.beli-tryout-detail .info-mapel-tryout .content {
  width: 90%;
}

.beli-tryout-detail .info-mapel-tryout .content nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin-bottom: 50px;
}

.beli-tryout-detail .info-mapel-tryout .content nav .navigation {
  width: 50%;
  padding: 10px;
}

.beli-tryout-detail .info-mapel-tryout .content nav .navigation h2 {
  font-size: 18px;
  font-weight: 600;
}

.beli-tryout-detail .info-mapel-tryout .content nav .navigation:hover {
  border-bottom: 3px solid #FDBF1F;
}

.beli-tryout-detail .info-mapel-tryout .content nav .nav-left.active {
  border-bottom: 3px solid #FDBF1F;
}

.beli-tryout-detail .info-mapel-tryout .content nav .nav-right.active {
  border-bottom: 3px solid #FDBF1F;
}

.beli-tryout-detail .info-mapel-tryout .content .content-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.beli-tryout-detail .info-mapel-tryout .content .content-body .card-1 {
  z-index: 1;
}

.beli-tryout-detail .info-mapel-tryout .content .content-body .card-2 {
  z-index: 2;
}

.beli-tryout-detail .info-mapel-tryout .content .content-body .card-3 {
  z-index: 3;
}

.beli-tryout-detail .info-mapel-tryout .content .content-body .card-4 {
  z-index: 4;
}

.beli-tryout-detail .info-mapel-tryout .content .content-body .card-5 {
  z-index: 4;
}

.beli-tryout-detail .info-mapel-tryout .content .content-body .card {
  width: 350px;
  -webkit-box-shadow: 0px 10px 30px rgba(57, 57, 57, 0.08);
          box-shadow: 0px 10px 30px rgba(57, 57, 57, 0.08);
  border-radius: 20px;
  padding: 30px 20px 20px 20px;
  margin-bottom: 30px;
  margin-right: 15px;
  margin-left: 15px;
}

.beli-tryout-detail .info-mapel-tryout .content .content-body .card .card-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.beli-tryout-detail .info-mapel-tryout .content .content-body .card .card-heading i {
  margin-right: 20px;
  color: #FDBF1F;
}

.beli-tryout-detail .info-mapel-tryout .content .content-body .card .card-heading h3 {
  font-weight: 600;
  font-size: 16px;
}

.beli-tryout-detail .info-mapel-tryout .content .content-body .card .card-body li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.beli-tryout-detail .info-mapel-tryout .content .content-body .card .card-body li i {
  margin-right: 20px;
}

.beli-tryout-detail .info-mapel-tryout .content .content-body .card .card-body li h4 {
  font-size: 14px;
}

.beli-tryout-detail .info-mapel-tryout .content .content-body .card .card-body li h4 span {
  font-weight: 600;
}

.beli-tryout-detail .info-mapel-tryout .content .content-body .card-tka.disable {
  display: none;
}

.beli-tryout-detail .info-mapel-tryout .content .content-body .card-tps.disable {
  display: none;
}
/*# sourceMappingURL=desktop-style.css.map */