
@font-face {
    font-family: "Poppins";
    src: url('../fonts/poppins/Poppins-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/poppins/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/poppins/Poppins-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/poppins/Poppins-Italic.ttf');
    font-style: italic;
}

$fontPrimary : "Poppins";

$colorYellow    : #FDBF1F;
$colorBlueLight : #CDEEF6; 
$colorPink      : #F17EAB;
$colorRed       : #F02424;
$colorGray      : #C4C4C4;
$colorDark      : #393939;
$colorBlack     : #000000;

body {
    font-family: $fontPrimary;
    color: $colorDark;
}


.nav-desktop {
    background-color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    position: fixed;
    box-shadow: 0px 32px 80px rgba($color: $colorDark, $alpha: 0.05);

    .content {
        width: 90%;
        display: flex;
        justify-content: space-between;

        .logo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 25%;

            img {
                width: 150px;
            }
        }

        .menu {
            display: flex;
            justify-content: flex-end;
            width: 60%;
            color: $colorDark;

            ul {
                display: flex;
                justify-content: space-around;
                height: 100%;
                align-items: center;
                width: 450px;

                a {
                    height: 100%;
                    text-decoration: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    color: inherit;
                    position: relative;

                    hr {
                        position: absolute;
                        width: 100%;
                        bottom: 0px;
                        display: none;
                        color: $colorYellow;
                        border: 1px solid $colorYellow;
                    }
                }

                a:hover{

                    hr {
                        display: block;
                    }
                }

                a.active {

                    hr {
                        display: block;
                    }
                }
            }
        }

        .icon {
            width: 15%;
            display: flex;
            justify-content: flex-end;

            .icon-profile {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 110px;

                i {
                    color: $colorYellow;
                }
            }
        }
    }
}



.beli-tryout-detail {

    .info-detail-tryout {
        padding-top: 80px;
        display: flex;
        justify-content: center;

        .content {
            width: 90%;
            display: flex;

            .content-left {
                width: 50%;

                .nama-tryout {
                    margin-top: 50px;
                    position: relative;
                    display: flex;
                    margin-bottom: 30px;

                    h2 {
                        font-size: 24px;
                        line-height: 28px;
                        font-weight: 600;
                        margin-right: 20px;
                    }

                    hr {
                        position: absolute;
                        width: 50px;
                        bottom: -10px;
                        left: 5px;
                        color: $colorYellow;
                        border: 1px solid $colorYellow;
                    }

                    .btn-daftar {
                        padding: 10px 20px 10px 20px;
                        background-color: white;
                        border: 1px solid $colorYellow;
                        border-radius: 5px;
                        font-weight: 600;
                        color: $colorYellow;
                        cursor: pointer;
                    }

                    .btn-daftar:hover {
                        background-color: $colorYellow;
                        color: white;
                        border: 1px solid $colorYellow;
                        transition: 300ms;
                    }
                }

                .widget {
                    display: flex;
                    width: 100%;
                    margin-bottom: 30px;

                    .widget-child {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-right: 30px;
                        width: 120px;
                        text-align: center;
                        line-height: 21px;

                        i {
                            margin-bottom: 15px;
                        }
                    }
                }

                .deskripsi-tryout {
                    position: relative;

                    h3 {
                        font-size: 16px;
                        font-weight: 600;
                        margin-bottom: 20px;
                    }

                    hr {
                        position: absolute;
                        width: 50px;
                        top: 18px;
                        left: 0px;
                        color: $colorYellow;
                        border: 1px solid $colorYellow;
                    }

                    p {
                        line-height: 28px;
                    }
                }
            }

            .content-right {
                padding-left: 20px;
                box-sizing: border-box;

                .tanggal-pengerjaan {
                    margin-top: 50px;
                    margin-bottom: 30px;
                    position: relative;

                    h3 {
                        font-size: 16px;
                        font-weight: 600;
                        margin-bottom: 30px;
                    }

                    hr {
                        position: absolute;
                        width: 50px;
                        top: 18px;
                        left: 0px;
                        color: $colorYellow;
                        border: 1px solid $colorYellow;
                    }

                    p {
                        line-height: 28px;
                        margin-bottom: 20px;
                    }

                    .waktu-pengerjaan {
                        display: flex;

                        .box {
                            width: 60px;
                            height: 60px;
                            background-color: white;
                            margin-right: 20px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            border-radius: 5px;
                            border: 2px solid $colorYellow;

                            h4 {
                                font-weight: 600;
                                margin-bottom: 5px;
                            }

                            h6 {
                                font-size: 14px;
                            }
                        }
                    }
                }

                .beli-tryout {

                    .btn-beli-tryout {
                        padding: 12px 25px 12px 25px;
                        background-color: $colorYellow;
                        border: 1px solid $colorYellow;
                        border-radius: 5px;
                        font-weight: 600;
                        font-size: 16px;
                        color: $colorDark;
                        cursor: pointer;
                    }
                    
                    .btn-beli-tryout:hover {
                        padding: 12px 25px 12px 25px;
                        background-color: white;
                        border: 1px solid $colorYellow;
                        border-radius: 5px;
                        font-weight: 600;
                        color: $colorYellow;
                        cursor: pointer;
                        box-shadow: 0px 60px 100px rgba($color: $colorYellow, $alpha: 0.16);
                        transition: 300ms;
                    }
                }
                
            }
        }
    }

}